@import "../../../../public/styles/common.font";

h1.typography {
  font-size: $h1FontSize;
  line-height: $h1LineHeight;
}

h2.typography {
  font-size: $h2FontSize;
  line-height: $h2LineHeight;
}

p.typography__prgh_default {
  font-size: $p1FontSize;
  line-height: $p1LineHeight;
}

p.typography__prgh_small {
  font-size: $p2FontSize;
  line-height: $p2LineHeight;
}
