@import "../../../../public/styles/common.colors";

.card {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: $white;
  &__dark {
    box-shadow: 0px 0px 24px $hufflepuffDarkYellow;
  }
  &__light {
    box-shadow: 0px 0px 12px $slytherinGreen;
  }
}
