@import "public/styles/common.colors";

.wrapper {
  color:  $ravenclawDarkBlue;
  overflow: scroll;
  h1 {
    color: $gryffindorDarkRed;
    text-transform: uppercase;
  }
  &__dark {
    color: $hufflepuffYellow;
    h1 {
      color: $slytherinSilver;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    height: calc(100vh - 150px)
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: calc(100vh - 100px)
  }
}
