@import "public/styles/common.colors";
@import "public/styles/common.font";

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 90px;
  right: 20px;
  min-width: 100px;
  &__link {
    font-size: $btnFontSize;
    line-height: $btnLineHeight;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    &:not(:last-of-type) {
      margin-right: 16px
    }
    &_dark {
      color: $hufflepuffYellow;
      &:hover {
        color: $slytherinGreen;
      }
    }
    &_light {
      color: $ravenclawDarkBlue;
      &:hover {
        color: $slytherinDarkGreen;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .nav {
    bottom: 85px;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    bottom: 25px;
    left: 30px;
    transform: translateX(0);
  }
}
