@import "public/styles/common.colors";

.group {
  &__wrapper {
    position: absolute;
    display: inline-block;
  }
  &__container {
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
  }
  &__btn {
    border-radius: 8px;
    cursor: pointer;
    float: left;
    text-align: center;
    -webkit-user-select: none;
    transition: font-size 0.3s ease;
    &:not(:first-of-type),
    &:not(:last-of-type) {
      padding: 0 4px;
    }
      &:hover {
        font-size: 1.2em;
      }
      &:active {
        font-size: 0.8em
      }
    &__dark {
      color: $gryffindorGold;
    }
    &__light {
      color: $gryffindorDarkRed;
    }
    &__dark_selected {
      color: white;
      background-color: $gryffindorGold;
    }
    &__light_selected {
      color: white;
      background-color: $gryffindorDarkRed;
    }
  }
}
