.flex {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 20px;
  align-items: center;
  &__row {
    flex-direction: row;
  }
  &__left {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1440px) {
  .flex {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  .flex {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .flex {
    width: 90%;
  }
}
