@import "public/styles/common.colors";

.page_wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 10px;
  position: relative;
  &__dark {
    background-color: $ravenclawBlue;
  }
  &_light {
    background-color: lighten($ravenclawBlue, 50%);
  }
}
