@import "public/styles/common.colors";
@import "public/styles/common.font";

.themeSwitch {
  &__container {
    position: relative;
  }
  &__input,
  &__label {
    position: relative;
  }
  &__input {
    opacity: 0;

    &:hover,
    &:focus {
      + .themeSwitch__label_dark {
          background-color: $slytherinSilver;
        }
      + .themeSwitch__label_light {
          background-color: $gryffindorGold;
      }
      + .themeSwitch__label_dark span::after {
        background-color: lighten($slytherinGreen, 10%);
      }
      + .themeSwitch__label_light span::after {
        background-color: lighten($gryffindorDarkRed, 10%);
      }
    }
  }
  &__label {
    display: block;
    padding: 8px;
    margin: 10px;
    transition: background-color 200ms ease-in-out;
    width: 40px;
    height: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);
    &_dark {
      background-color: $slytherinSilver;
      & + span::after {
        background-color: lighten($slytherinGreen, 10%);
      }
    }
    &_light {
      background-color: $gryffindorGold;
      & + span::after {
        background-color: lighten($gryffindorDarkRed, 10%);
      }
    }
    &::before,
    &::after {
      font-size: $p1FontSize;
      line-height: $p1LineHeight;
      position: absolute;
      transform: translate3d(0, -50%, 0);
      top: 50%;
    }

    &::before {
      content: '\263C';
      right: 100%;
      margin-right: 10px;
      color: orange;
    }

    &::after {
      content: '\263E';
      left: 100%;
      margin-left: 10px;
      color: lightSlateGray;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    span::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      content: '';
      border-radius: 50%;
      transition: transform 200ms, background-color 200ms;
      box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
    }
  }
}

// Checked label styles
.themeSwitch__input:checked ~ label {
  color: white;
}

.themeSwitch__input:checked ~ .themeSwitch__label {
  &::before {
    color: lightSlateGray;
  }

  &::after {
    color: turquoise;
  }

  span::after {
    transform: translate3d(25px, 0, 0);
  }
}
