@import "../../../../public/styles/common.colors";
@import "../../../../public/styles/common.font";

$btnDarkColor: $gryffindorGold;
$btnLightColor: $slytherinGreen;

.btn {
  font-size: $btnFontSize;
  line-height: $btnLineHeight;
  border-radius: 8px;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  width: fit-content;
  &:hover {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out,
                color 0.1s ease-in-out;
  }
  &__dark {
    border-color: $btnDarkColor;
    color: $btnDarkColor;
    &:hover {
      background-color: $btnDarkColor;
      color: $white;
    }
  }
  &__light {
    border-color: $btnLightColor;
    color: $btnLightColor;
    &:hover {
      background-color: $btnLightColor;
      color: $white;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .btn {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 14px;
  }
}
