$black: #000;
$white: #fff;

$gryffindorDarkRed: #740001;
$gryffindorRed: #ae0001;
$gryffindorGold: #d3a625;

$slytherinDarkGreen: #1a472a;
$slytherinGreen: #2a623d;
$slytherinSilver: #aaaaaa;

$hufflepuffDarkYellow: #ecb939;
$hufflepuffYellow: #f0c75e;
$hufflepuffChoco: #372e29;

$ravenclawDarkBlue: #0e1a40;
$ravenclawBlue: #222f5b;
$ravenclawGold: #946b2d;
