$p1FontSize: 16px;
$p1LineHeight: 20px;

$p2FontSize: 14px;
$p2LineHeight: 18px;

$h1FontSize: 18px;
$h1LineHeight: 24px;

$h2FontSize: 16px;
$h2LineHeight: 22px;

$btnFontSize: 18px;
$btnLineHeight: 24px;
