@import "public/styles/common.colors";

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 125px;
  min-width: 200px;
  text-align: center;
  &__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    &_gr {
      border: 4px solid $gryffindorRed;
    }
    &_rw {
      border: 4px solid $ravenclawBlue
    }
    &_sl {
      border: 4px solid $slytherinGreen;
    }
    &_hp {
      border: 4px solid $hufflepuffYellow;
    }
    & img {
      object-fit: cover;
      object-position: center top;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
}
