@import "public/styles/common.colors";

.grid {
  max-height: calc(100vh - 180px);
  overflow: scroll;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  gap: 10px 16px;
}

@media only screen and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    max-height: calc(100vh - 120px);
    &_four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    max-height: calc(100vh - 100px);
    &_four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
