@import "public/styles/common.colors";

.spell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 125px;
  text-align: center;
  justify-content: space-between;
  &__fav {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    fill: $gryffindorDarkRed;
  }
  & h2 {
    margin-bottom: 8px;
    text-decoration: underline;
  }

  & p {
    margin-bottom: 12px;
  }
}
